// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
}
.my_message {
    background: primary !important;
    color: #000 !important;
}
.other_message {
    background: #dcdcdc !important;
    color: #000 !important;
}
.time {
    color: #afafaf;
    float: right;
    font-size: small;
}
.message_row {
    background-color: #fff;
}