<ion-header>
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>TOKEN</ion-card-subtitle>
      <ion-card-title>{{token}}</ion-card-title>
      <ion-input placeholder="digite o token aqui" [(ngModel)]="token"></ion-input>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)='atualizarToken();' color="primary">Atualizar</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mailing</ion-card-subtitle>
      <input type="file" placeholder="selecione o arquivo " id="arquivomailing"/>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)='enviarMailing();' color="primary">Enviar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Disparar envios</ion-card-subtitle>
        <ion-card-title>Saldo: {{credit}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-button (click)='disparar();' color="primary">Disparar</ion-button>
      </ion-card-content>
    </ion-card>


</ion-content>