<ion-header>
  <ion-toolbar>
    <ion-title>
      Informacoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Segments -->
  <div>
    <ion-segment color="royal" [(ngModel)]="segment">

      <ion-segment-button value="enviados">
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>enviados</ion-label>
      </ion-segment-button>

      <ion-segment-button value="recebidos">
        <ion-icon name="list"></ion-icon>
        <ion-label>recebidos</ion-label>
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'enviados'">

      <ion-card *ngFor="let item of listEnvios">
        <ion-card-header color="{{ item.status ? 'success' : 'danger' }}">
          <ion-card-subtitle>mensagem para: {{ item.from }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ item.message }}
        </ion-card-content>
      </ion-card>
    </ion-list>

    <div *ngSwitchCase="'recebidos'">

      <ion-list  no-lines>
        <!--<ion-spinner *ngIf="(users == undefined)" icon="crescent"></ion-spinner>-->
        <ion-list-header>
          Ultimas conversas
        </ion-list-header>

        <ion-item *ngFor="let message of messages" (click)="openChat(message)">
          <ion-avatar slot="start">
            <img src="assets/no-avatar.png">
          </ion-avatar>
          <ion-label>
            <h2>Enviado de : {{message.to}}</h2>
            <h3> as {{message.createdAt | date:'dd/MM hh:MM'}}</h3>
            <p>{{ message.text }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>

